<!DOCTYPE HTML>

<html lang="en">
	<head>
		<title>Alternate Cloud Resume</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
	</head>

	<body class="is-preload">

		<!-- Include Navigation Bar -->
		{% include 'nav.html' %}

		<!-- Page Content -->
		<article id="content" class="wrapper style2">
			<div class="container resume-2">
				<div class="resume-header-2">
					<h1>Cloud Resume Challenge</h1>
					<p><strong>A hands-on project that incorporates many of the skills used by real Cloud and DevOps engineers
						in their daily work. More information at the <a href="https://cloudresumechallenge.dev/"
																		target="_blank">Cloud Resume Challenge</a> website.</strong></p>
					<hr>
				</div>

				<!-- Resume Section -->
				<div class="resume-header-2">
					<h2>Jose Marcelo Carvalho Filho</h2>
					<h3>System Administrator</h3>
					<p><strong>Palm Bay, Florida • +1(321)387-2446 • jmcarvalho05@hotmail.com<br>
						<a href="http://www.linkedin.com/in/jmarcelo-carvalho" target="_blank">LinkedIn Profile</a></strong></p>
					<hr>
				</div>

				<div class="resume-section-2">
					<h2>Work Experience</h2>

					<div class="job-entry-2">
						<h3>Atlantic.Net | System Administrator <br> <em>09/2023 – Present</em></h3>
						<p>- Customized and deployed Windows and Linux systems tailored to each customer's specific needs, ensuring peak performance and satisfaction.</p>
						<p>- Performed comprehensive security monitoring using OpenVAS and Nessus as a key member of the Incident Rapid Response Team.</p>
						<p>- Executed thorough patch management across hundreds of systems, achieving compliance with GDPR, PCI DSS, and HIPAA standards.</p>
						<p>- Delivered extensive support to developers and DBAs, and managed diverse customer environments across both Windows and Linux platforms.</p>
						<p>- Documented troubleshooting procedures, reducing issue resolution times by 30% and equipping support staff with valuable knowledge and skills.</p>
						<p>- Provided support to web developers and database administrators (DBAs), managing mixed OS customer environments.</p>
						<p>- Configured and administered networks for both Linux and Windows systems, ensuring seamless connectivity and robust security measures.</p>
						<p>- Assisted the configuration and troubleshooting of Multi-Factor Authentication (MFA) and Virtual Private Networks (VPNs), enhancing security protocols and ensuring reliable remote access.</p>
						<p>- Deployed and managed hundreds of both dedicated and cloud-based pfSense and OpnSense firewalls, improving standard procedures thus reducing turnaround time by 30%.</p>
						<p>- Experienced in setting up and tuning MS SQL, PostgreSQL, and MySQL servers. Responsible for troubleshooting issues such as high availability, resource exhaustion, and more.</p>
					</div>

					<div class="job-entry-2">
						<h3>Atlantic.Net | Help Desk Technician <br> <em>12/2022 – 09/2023</em></h3>
						<p>- Delivered top-tier customer service via phone and email, troubleshooting and escalating inquiries, significantly improving customer retention.</p>
		            	<p>- Performed troubleshooting on Windows and Linux systems for both dedicated and virtualized environments.</p>
						<p>- Reduced ticket resolution time by 20% by streamlining processes using Jenkins, documentation, and automation.</p>
						<p>- Contributed to application testing and deployment projects, including firewalls, VMs, Docker containers, and SIEM servers.</p>
						<p>- Managed email accounts, remote access services, and secure web environments.</p>
						<p>- Provided remote support to 1,200+ users with over 90% efficiency using Sysadmin commands.</p>
						<p>- Compiled and presented reports to the management team, leading to IT department upgrades.</p>
						<p>- Supervised remote security patch installations on 400+ machines within five weeks of employment.</p>
					</div>

					<div class="job-entry-2">
						<h3>Sao Paulo State – Judiciary, Brazil | Law Clerk Supervisor <br> <em>11/2013 – 07/2022</em></h3>
						<p>- Managed a team of 4 law clerks and 2 interns, drafting decisions, memos, and sentences for a state judge (2019-2022).</p>
		            	<p>- Delegated and structured tasks to improve communication and workflow, boosting output by 40% (720 monthly rulings).</p>
						<p>- Conducted 100+ research projects reducing case backlog by 35% and expanding the branch's judicial database.</p>
						<p>- Led the Center for Conflict Resolution, achieving a 90% settlement rate and reducing active lawsuits by 20%.</p>
					</div>

					<div class="job-entry-2">
						<h3>Additional Roles</h3>
						<p>- Help Desk Technician at Anglo High School (2010 – 2013).</p>
						<p>- Help Desk Assistant at State of South Carolina (2006 – 2009).</p>
						<p>- Purchasing Specialist at US Navy (2001 – 2006).</p>
					</div>

					<div class="job-entry-2">
						<h3>Education</h3>
						<p>Faculdades Integradas de Itapetininga – Juris Doctor Degree</p>
					</div>

					<div class="job-entry-2">
						<h3>Certifications</h3>
						<p>CompTIA A+ – October 2022</p>
						<p>CompTIA Security+ – August 2023</p>
						<p>Microsoft SC-900 – February 2024</p>
						<p>Microsoft AZ-500 – Currently Preparing for Exam</p>
					</div>

					<div class="job-entry-2">
						<h3>Skills</h3>
						<p>Technical Skills: Troubleshooting, Python, SQL Server, Linux/Windows Development</p>
						<p>Specializations: Cloud Computing, Cybersecurity, Systems Administration, Virtualization</p>
					</div>

					<div class="job-entry-2">
						<h3>Boring Versions</h3>
						<p>Below is the downloadable versions of my resume
						<div class="resume-download">
    					<a href="{{ url_for('static', filename='assets/resume/JMarcelo_Resume.pdf') }}" download>
        				Download Resume (PDF)</a>
						</div>
						<div class="word-download">
						<a href="{{ url_for('static', filename='assets/resume/JMarcelo_Resume.docx') }}" download>
        				Download Resume (Word)</a>
						</div>
					</div>
				</div>

			</div>
			<footer>
				<ul id="copyright">
					<li>&copy; Marcelo Carvalho. All rights reserved.</li><li>
				</ul>
			</footer>
		</article>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
	</body>
</html>
